@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");
.header {
  width: 100%;
  height: 109px;
}
.header .box {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.header .box .header_level1 {
  height: 38px;
  background-color: #FFAA4C;
  max-width: 1440px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .box .header_level1 .header_tab1 {
  margin-left: 60px;
  width: 168px;
  height: Hug 38px;
  padding: 9px 40px 9px 40px;
  border-radius: 20px 20px 0px 0px;
  gap: 10px;
  background-color: #FFAA4C;
  color: black;
  size: 16px;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}
.header .box .header_level1 .header_tab2 {
  width: 185px;
  height: Hug 38px;
  padding: 9px 40px 9px 40px;
  border-radius: 20px 20px 0px 0px;
  gap: 10px;
  background-color: #FFAA4C;
  color: black;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}
.header .box .header_level1 .active {
  background: black;
  color: #FFFFFF;
}
.header .box .header_level2 {
  height: 71px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .box .header_level2 .nav {
  display: none;
}
.header .box .header_level2 .header__btn {
  margin-right: 60px;
}
.header .box .header_level2 .header__logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/logo.png");
  width: 155px;
  height: 49px;
  margin-left: 60px;
}

.hero {
  height: 591px;
  width: 100%;
  max-width: 1440px;
  background: black;
}
.hero .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .box .hero-left {
  margin-left: 110px;
  max-width: 671px;
  height: 369px;
}
.hero .box .hero-left .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.hero .box .hero-left .wrap .hero__lead {
  font-family: Outfit;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
  margin-top: 20px;
  width: 534px;
}
.hero .box .hero-left .wrap .hero__btn {
  margin-top: 40px;
}
.hero .box .hero-right {
  margin-top: 62px;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  background-color: #954CED;
  width: 187px;
  height: 57px;
  padding: 16px 30px 16px 30px;
  border-radius: 16px;
  gap: 14px;
  color: #FFFFFF;
  font-family: "Outfit";
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  cursor: pointer;
  border: none;
}

body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  z-index: -1;
}

.title {
  font-family: Outfit;
  font-size: 96px;
  font-weight: 700;
  line-height: 102px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}