@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
.header {
  width: 100%;
  height: 109px;
}
.header .box {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.header .box .header_level1 {
  height: 38px;
  background-color: #FFAA4C;
  max-width: 1440px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .box .header_level1 .header_tab1 {
  margin-left: 60px;
  width: 168px;
  height: Hug 38px;
  padding: 9px 40px 9px 40px;
  border-radius: 20px 20px 0px 0px;
  gap: 10px;
  background-color: #FFAA4C;
  color: black;
  size: 16px;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}
.header .box .header_level1 .header_tab2 {
  width: 185px;
  height: Hug 38px;
  padding: 9px 40px 9px 40px;
  border-radius: 20px 20px 0px 0px;
  gap: 10px;
  background-color: #FFAA4C;
  color: black;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}
.header .box .header_level1 .active {
  background: black;
  color: #FFFFFF;
}
.header .box .header_level2 {
  height: 71px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .box .header_level2 .nav {
  display: none;
}
.header .box .header_level2 .header__btn {
  margin-right: 60px;
}
.header .box .header_level2 .header__logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/logo.png");
  width: 155px;
  height: 49px;
  margin-left: 60px;
}

.hero {
  height: 591px;
  width: 100%;
  max-width: 1440px;
  background: black;
}
.hero .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .box .hero-left {
  margin-left: 110px;
  max-width: 671px;
  height: 369px;
}
.hero .box .hero-left .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.hero .box .hero-left .wrap .hero__lead {
  font-family: Outfit;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
  margin-top: 20px;
  width: 534px;
}
.hero .box .hero-left .wrap .hero__btn {
  margin-top: 40px;
}
.hero .box .hero-right {
  margin-top: 62px;
}

.about {
  background: #000;
  height: 1116px;
}
.about .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .about-left {
  max-width: 528px;
  width: 100%;
  height: 873px;
}
.about .about-left .box-left {
  margin-top: 100px;
}
.about .about-left .box-left .about__title {
  width: 559px;
  height: 102px;
  margin-left: 60px;
}
.about .about-left .box-left .about__subtitle {
  font-family: Outfit;
  font-size: 36px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  width: 397px;
  height: 135px;
  margin-top: 80px;
  margin-left: 60px;
}
.about .about-left .box-left .about__subtitle .about__img-vector {
  background-image: url("../img/vector.png");
  width: 395px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: contain;
}
.about .about-left .box-left .about__img {
  margin-top: 208px;
  width: 423px;
  height: 489px;
}
.about .about-right {
  max-width: 692px;
  width: 100%;
  height: 771px;
  margin-right: 160px;
}
.about .about-right .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 215px;
}
.about .about-right .box .card2 {
  width: 301px;
  height: 340px;
}
.about .about-right .box .card3 {
  width: 306px;
  height: 349px;
  margin-top: 92px;
}
.about .about-right .box .card4 {
  width: 336.01px;
  height: 377px;
  margin-top: 92px;
}
.about .about-right .box .card {
  width: 321px;
  height: 298px;
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card-box .card__title {
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 48px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 10px;
}
.card-box .card__subtitle {
  margin-top: 20px;
  font-family: Outfit;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}

.howWorks {
  max-width: 1440px;
  width: 100%;
  height: 836px;
  background: #000;
  overflow: hidden;
  z-index: 1;
}
.howWorks .box {
  width: 100%;
  height: 100%;
  position: relative;
}
.howWorks .box .howWorks__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: none;
  z-index: 3;
}
.howWorks .box .howWorks__title1 {
  position: absolute;
  top: 146px;
  left: -274px;
  font-family: Outfit;
  font-size: 128px;
  font-weight: 700;
  line-height: 136px;
  letter-spacing: 0px;
  text-align: left;
  color: #2FDBBC;
  z-index: 2;
  width: 1034px;
  height: 136px;
}
.howWorks .box .howWorks__title2 {
  position: absolute;
  top: 146px;
  right: -466px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 121px;
  font-weight: 700;
  line-height: 136px;
  text-align: left;
  -webkit-text-stroke-color: #444444;
  -webkit-text-stroke-width: 1px;
  width: 1120px;
  height: 136px;
}
.howWorks .box .howWorks__title3 {
  position: absolute;
  top: 350px;
  left: -90px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 121px;
  font-weight: 700;
  line-height: 136px;
  text-align: left;
  -webkit-text-stroke-color: #444444;
  -webkit-text-stroke-width: 1px;
}
.howWorks .box .howWorks__title4 {
  position: absolute;
  top: 357px;
  color: #A64CED;
  right: -545px;
  font-family: Outfit;
  font-size: 122px;
  font-weight: 700;
  line-height: 136px;
  letter-spacing: 0px;
  text-align: left;
}
.howWorks .box .howWorks__title5 {
  position: absolute;
  top: 554px;
  left: -528px;
  font-family: Outfit;
  font-size: 128px;
  font-weight: 700;
  line-height: 136px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFAA4C;
  width: 1034px;
  height: 136px;
}
.howWorks .box .howWorks__title6 {
  position: absolute;
  top: 554px;
  right: -140px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 121px;
  font-weight: 700;
  line-height: 136px;
  text-align: left;
  -webkit-text-stroke-color: #444444;
  -webkit-text-stroke-width: 1px;
}

.billboard {
  max-width: 1440px;
  width: 100%;
  height: 222px;
  background-color: #954CED;
}
.billboard .box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.billboard .box .billboard__card {
  margin-left: 350.5px;
}
.billboard .box .billboard__card .billboard__title {
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0px;
  text-align: left;
}
.billboard .box .billboard__card .billboard__lead {
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  width: 217px;
  margin-top: 16px;
}
.billboard .box .billboard__card2 {
  width: 182px;
}
.billboard .box .billboard__card2 .billboard__title {
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0px;
  text-align: left;
}
.billboard .box .billboard__card2 .billboard__lead {
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  width: 217px;
  margin-top: 16px;
}
.billboard .box .billboard__card3 {
  margin-right: 270px;
}
.billboard .box .billboard__card3 .billboard__title {
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0px;
  text-align: left;
}
.billboard .box .billboard__card3 .billboard__lead {
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  width: 217px;
  margin-top: 16px;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  background-color: #954CED;
  width: 187px;
  height: 57px;
  padding: 16px 30px 16px 30px;
  border-radius: 16px;
  gap: 14px;
  color: #FFFFFF;
  font-family: "Outfit";
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  cursor: pointer;
  border: none;
}

body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  z-index: -1;
}

.title {
  font-family: Outfit;
  font-size: 96px;
  font-weight: 700;
  line-height: 102px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}