@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
.header {
  width: 100%;
  height: 109px;
}
.header .box {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.header .box .header_level1 {
  height: 38px;
  background-color: #FFAA4C;
  max-width: 1440px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .box .header_level1 .header_tab1 {
  margin-left: 60px;
  width: 168px;
  height: Hug 38px;
  padding: 9px 40px 9px 40px;
  border-radius: 20px 20px 0px 0px;
  gap: 10px;
  background-color: #FFAA4C;
  color: black;
  size: 16px;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}
.header .box .header_level1 .header_tab2 {
  width: 185px;
  height: Hug 38px;
  padding: 9px 40px 9px 40px;
  border-radius: 20px 20px 0px 0px;
  gap: 10px;
  background-color: #FFAA4C;
  color: black;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}
.header .box .header_level1 .active {
  background: black;
  color: #FFFFFF;
}
.header .box .header_level2 {
  height: 71px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .box .header_level2 .nav {
  display: none;
  position: fixed;
  z-index: 7;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  max-width: 375px;
  height: 846px;
  background: #000;
  overflow-x: hidden;
  top: 0px;
}
.header .box .header_level2 .nav .nav__btn-close {
  display: block;
  background-image: url("../img/close.png");
  width: 40px;
  height: 40px;
  top: 15px;
  left: 319px;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  border: none;
  cursor: pointer;
}
.header .box .header_level2 .nav .nav__btn {
  width: 343px;
  height: 57px;
  top: 196px;
  left: 16px;
  position: absolute;
}
.header .box .header_level2 .nav .nav__list {
  width: 333px;
  height: 210px;
  margin-bottom: 213px;
}
.header .box .header_level2 .nav .nav__list .nav__item {
  list-style-type: none;
  margin-top: 16px;
  margin-left: 16px;
}
.header .box .header_level2 .nav .nav__list .nav__item .nav__link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  width: 131px;
  height: 25px;
}
.header .box .header_level2 .header__btn-phone {
  display: none;
}
.header .box .header_level2 .header__btn {
  margin-right: 60px;
}
.header .box .header_level2 .header__logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/logo.png");
  width: 155px;
  height: 49px;
  margin-left: 60px;
}

@media (max-width: 376px) {
  .header {
    width: 375px;
    height: 100px;
  }
  .header .box {
    width: 375px;
    height: 100%;
  }
  .header .box .header_level1 {
    max-width: 375px;
  }
  .header .box .header_level1 .header_tab1 {
    margin-left: 0px;
  }
  .header .box .header_level1 .header_tab2 {
    margin: 0px;
  }
  .header .box .header_level2 {
    max-width: 375px;
  }
  .header .box .header_level2 .header__btn {
    display: none;
  }
  .header .box .header_level2 .header__btn-phone {
    display: block;
    background-image: url("../img/Burger.png");
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    border: none;
    cursor: pointer;
    margin-right: 16px;
  }
  .header .box .header_level2 .header__logo {
    margin-left: 16px;
  }
}
.hero {
  height: 591px;
  width: 100%;
  max-width: 1440px;
  background: black;
}
.hero .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .box .hero-left {
  margin-left: 110px;
  max-width: 671px;
  height: 369px;
}
.hero .box .hero-left .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.hero .box .hero-left .wrap .hero__lead {
  font-family: Outfit;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
  margin-top: 20px;
  width: 534px;
}
.hero .box .hero-left .wrap .hero__btn {
  margin-top: 40px;
}
.hero .box .hero-right {
  margin-top: 62px;
}

@media (max-width: 376px) {
  .hero {
    height: 709px;
    overflow-x: hidden;
    max-width: 376px;
    margin-top: 0px;
  }
  .hero .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin-top: 0px;
    border: 1px solid black;
  }
  .hero .box .hero-left {
    margin-top: 0px;
    width: 343px;
    height: 261px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .hero .box .hero-left .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 51px;
  }
  .hero .box .hero-left .wrap .hero__title {
    width: 343px;
    height: 84px;
  }
  .hero .box .hero-left .wrap .hero__lead {
    width: 343px;
    height: 60px;
    font-size: 16px;
  }
  .hero .box .hero-left .wrap .hero__btn {
    margin-top: 40px;
    width: 343px;
    margin-right: 126px;
  }
  .hero .box .hero-right {
    margin-top: 168px;
    margin-left: 50px;
  }
}
.about {
  background: #000;
  height: 1116px;
}
.about .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .box .about-left {
  max-width: 528px;
  width: 100%;
  height: 873px;
  position: relative;
}
.about .box .about-left .box-left {
  margin-top: 100px;
  margin-left: 60px;
}
.about .box .about-left .box-left .about__title {
  width: 559px;
  height: 102px;
}
.about .box .about-left .box-left .about__subtitle {
  font-family: Outfit;
  font-size: 36px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  width: 397px;
  height: 135px;
  margin-top: 80px;
}
.about .box .about-left .box-left .about__subtitle .about__img-vector {
  background-image: url("../img/vector.png");
  width: 395px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: contain;
}
.about .box .about-left .box-left .about__img {
  position: absolute;
  margin-top: 208px;
  width: 423px;
  height: 489px;
  left: 0px;
}
.about .box .about-right {
  max-width: 727px;
  width: 100%;
  height: 771px;
  margin-right: 120px;
  border: 1xp solid red;
}
.about .box .about-right .box-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 215px;
  width: 100%;
  max-width: 727px;
}
.about .box .about-right .box-right .card2 {
  width: 301px;
  height: 340px;
  margin-left: 66px;
}
.about .box .about-right .box-right .card3 {
  width: 306px;
  height: 349px;
  margin-top: 92px;
  border: none;
}
.about .box .about-right .box-right .card4 {
  width: 336px;
  height: 377px;
  margin-top: 92px;
  margin-left: 81px;
  border: none;
}
.about .box .about-right .box-right .card {
  width: 321px;
  height: 298px;
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card-box .card__title {
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 48px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 10px;
}
.card-box .card__subtitle {
  margin-top: 20px;
  font-family: Outfit;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}

@media (max-width: 376px) {
  .about {
    width: 375px;
    height: 1310px;
    overflow-x: hidden;
  }
  .about .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 16px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about .box .about-left {
    width: 375px;
    height: 161px;
  }
  .about .box .about-left .box-left {
    margin-left: 16px;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .box .about-left .box-left .about__title {
    width: 239px;
    height: 42px;
    font-family: Outfit;
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: left;
  }
  .about .box .about-left .box-left .about__subtitle {
    margin-top: 30px;
    font-family: Outfit;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    width: 273px;
    height: 89px;
  }
  .about .box .about-left .about__img {
    display: none;
  }
  .about .box .about-right {
    width: 336.01px;
    height: 1154px;
    margin: 0px;
    width: 375px;
  }
  .about .box .about-right .box-right {
    margin-top: 80px;
    margin-left: 16px;
  }
  .about .box .about-right .box-right .card {
    width: 321px;
    height: 200px;
  }
  .about .box .about-right .box-right .card2 {
    margin-top: 60px;
    margin-left: 0px;
    width: 301px;
    height: 214px;
  }
  .about .box .about-right .box-right .card3 {
    margin-left: 0px;
    margin-top: 60px;
    width: 306px;
    height: 200px;
  }
  .about .box .about-right .box-right .card4 {
    margin-left: 0px;
    width: 336.01px;
    height: 240px;
  }
  .card-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-box .card__title {
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 10px;
  }
  .card-box .card__subtitle {
    margin-top: 16px;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }
}
.howWorks {
  max-width: 1440px;
  width: 100%;
  height: 836px;
  background: #000;
  overflow: hidden;
  z-index: 1;
}
.howWorks .box {
  width: 100%;
  height: 100%;
  position: relative;
}
.howWorks .box .howWorks__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: none;
  z-index: 3;
}
.howWorks .box .howWorks__title1 {
  position: absolute;
  top: 146px;
  left: -274px;
  font-family: Outfit;
  font-size: 128px;
  font-weight: 700;
  line-height: 136px;
  letter-spacing: 0px;
  text-align: left;
  color: #2FDBBC;
  z-index: 2;
  width: 1034px;
  height: 136px;
}
.howWorks .box .howWorks__title2 {
  position: absolute;
  top: 146px;
  right: -466px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 121px;
  font-weight: 700;
  line-height: 136px;
  text-align: left;
  -webkit-text-stroke-color: #444444;
  -webkit-text-stroke-width: 1px;
  width: 1120px;
  height: 136px;
}
.howWorks .box .howWorks__title3 {
  position: absolute;
  top: 350px;
  left: -90px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 121px;
  font-weight: 700;
  line-height: 136px;
  text-align: left;
  -webkit-text-stroke-color: #444444;
  -webkit-text-stroke-width: 1px;
}
.howWorks .box .howWorks__title4 {
  position: absolute;
  top: 357px;
  color: #A64CED;
  right: -545px;
  font-family: Outfit;
  font-size: 122px;
  font-weight: 700;
  line-height: 136px;
  letter-spacing: 0px;
  text-align: left;
}
.howWorks .box .howWorks__title5 {
  position: absolute;
  top: 554px;
  left: -528px;
  font-family: Outfit;
  font-size: 128px;
  font-weight: 700;
  line-height: 136px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFAA4C;
  width: 1034px;
  height: 136px;
}
.howWorks .box .howWorks__title6 {
  position: absolute;
  top: 554px;
  right: -140px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 121px;
  font-weight: 700;
  line-height: 136px;
  text-align: left;
  -webkit-text-stroke-color: #444444;
  -webkit-text-stroke-width: 1px;
}

@media (max-width: 376px) {
  .howWorks {
    overflow-x: hidden;
    width: 375px;
    height: 600px;
  }
  .howWorks .box {
    margin-top: 40px;
  }
  .howWorks .box .howWorks__img {
    width: 228px;
    height: 461px;
  }
  .howWorks .box .howWorks__title1 {
    font-family: Outfit;
    font-size: 48px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: left;
    width: 388px;
    height: 51px;
    top: 101px;
    left: -160px;
  }
  .howWorks .box .howWorks__title2 {
    top: 101px;
    right: -300px;
    font-size: 48px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: left;
    width: 430px;
    height: 51px;
  }
  .howWorks .box .howWorks__title3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: left;
    width: 428px;
    height: 51px;
    left: -292px;
    top: 245px;
  }
  .howWorks .box .howWorks__title4 {
    top: 245px;
    right: -150px;
    font-size: 48px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: left;
    width: 388px;
    height: 51px;
  }
  .howWorks .box .howWorks__title5 {
    font-size: 48px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: left;
    width: 388px;
    height: 51px;
    top: 389px;
    left: -261px;
  }
  .howWorks .box .howWorks__title6 {
    width: 388px;
    height: 51px;
    font-size: 48px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: left;
    top: 389px;
    right: -147px;
  }
}
.billboard {
  max-width: 1440px;
  width: 100%;
  height: 222px;
  background-color: #954CED;
}
.billboard .box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.billboard .box .billboard__card {
  margin-left: 350.5px;
}
.billboard .box .billboard__card .billboard__title {
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0px;
  text-align: left;
}
.billboard .box .billboard__card .billboard__lead {
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  width: 217px;
  margin-top: 16px;
}
.billboard .box .billboard__card2 {
  width: 182px;
}
.billboard .box .billboard__card2 .billboard__title {
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0px;
  text-align: left;
}
.billboard .box .billboard__card2 .billboard__lead {
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  width: 217px;
  margin-top: 16px;
}
.billboard .box .billboard__card3 {
  margin-right: 270px;
}
.billboard .box .billboard__card3 .billboard__title {
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0px;
  text-align: left;
}
.billboard .box .billboard__card3 .billboard__lead {
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  width: 217px;
  margin-top: 16px;
}

@media (max-width: 376px) {
  .billboard {
    width: 375px;
    height: 286px;
    overflow-x: hidden;
    margin-top: 40px;
  }
  .billboard .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 16px;
  }
  .billboard .box .billboard__card {
    width: 346px;
    height: 42px;
    margin: 0px;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .billboard .box .billboard__card .billboard__title {
    font-family: Outfit;
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: left;
  }
  .billboard .box .billboard__card .billboard__lead {
    margin: 0px;
    font-family: Outfit;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    width: 261px;
  }
  .billboard .box .billboard__card2 {
    margin-top: 40px;
    width: 316px;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .billboard .box .billboard__card2 .billboard__title {
    font-family: Outfit;
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: left;
  }
  .billboard .box .billboard__card2 .billboard__lead {
    font-family: Outfit;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    width: 259px;
    height: 25px;
    margin: 0;
    margin-left: 20px;
  }
  .billboard .box .billboard__card3 {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 329px;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .billboard .box .billboard__card3 .billboard__title {
    font-family: Outfit;
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: left;
  }
  .billboard .box .billboard__card3 .billboard__lead {
    font-family: Outfit;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 20px;
    width: 239px;
    height: 25px;
  }
}
.whyBudss {
  max-width: 1440px;
  width: 100%;
  height: 1192px;
  background: black;
}
.whyBudss .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.whyBudss .box .whyBuds__top {
  width: 100%;
  height: 348px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.whyBudss .box .whyBuds__top .box {
  width: 664px;
  height: 348px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.whyBudss .box .whyBuds__top .box .whyBuds__title {
  font-family: Outfit;
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
}
.whyBudss .box .whyBuds__top .box .whyBuds__subtitle {
  margin-top: 20px;
  height: 90px;
  color: #fff;
  font-family: Outfit;
  font-size: 32px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0px;
  text-align: center;
  width: 100%;
}
.whyBudss .box .whyBuds__top .box .whyBuds__subtitle .whyBuds__img-vector {
  background-image: url("../img/vector.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.whyBudss .box .whyBuds__down {
  max-width: 1300px;
  width: 100%;
  height: 744px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.whyBudss .box .whyBuds__down .card {
  max-width: 733px;
  width: 100%;
  height: 362px;
  background: #F5F5F5;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.whyBudss .box .whyBuds__down .card .card__img {
  top: 0;
  left: 0;
  position: absolute;
}
.whyBudss .box .whyBuds__down .card .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 364px;
  height: 180px;
  margin-bottom: 100px;
  margin-right: 40px;
}
.whyBudss .box .whyBuds__down .card .card-text .card__title {
  font-family: Outfit;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
}
.whyBudss .box .whyBuds__down .card .card-text .card__lead {
  margin-top: 20px;
  width: 334px;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-right: 30px;
}
.whyBudss .box .whyBuds__down .card2 {
  max-width: 547px;
  width: 100%;
  height: 362px;
  border-radius: 30px;
  background: #F5F5F5;
  margin-left: 18px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.whyBudss .box .whyBuds__down .card2 .card2__img1 {
  position: absolute;
  top: 90px;
  right: 0px;
}
.whyBudss .box .whyBuds__down .card2 .card2__img2 {
  top: 299px;
  left: 72px;
  position: absolute;
}
.whyBudss .box .whyBuds__down .card2 .card2__img3 {
  top: 277px;
  left: 394px;
  position: absolute;
}
.whyBudss .box .whyBuds__down .card2 .card-text2 {
  width: 416px;
  height: 236px;
  margin-left: 40px;
  margin-bottom: 82px;
  margin-top: 40px;
}
.whyBudss .box .whyBuds__down .card2 .card-text2 .card__title2 {
  color: black;
  font-family: Outfit;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
}
.whyBudss .box .whyBuds__down .card2 .card-text2 .card__lead2 {
  margin-top: 20px;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.whyBudss .box .whyBuds__down .card3 {
  max-width: 547px;
  width: 100%;
  height: 362px;
  border-radius: 30px;
  background: #F5F5F5;
  position: relative;
  overflow: hidden;
}
.whyBudss .box .whyBuds__down .card3 .card-text3 {
  margin-top: 40px;
  margin-left: 40px;
}
.whyBudss .box .whyBuds__down .card3 .card-text3 .card__title3 {
  color: black;
  font-family: Outfit;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
  width: 440px;
  height: 180px;
}
.whyBudss .box .whyBuds__down .card3 .card-text3 .card__lead3 {
  color: black;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  width: 308px;
  height: 72px;
  margin-top: 20px;
}
.whyBudss .box .whyBuds__down .card3 .card3__img {
  position: absolute;
  top: 280px;
  left: 345px;
}
.whyBudss .box .whyBuds__down .card4 {
  max-width: 733px;
  width: 100%;
  height: 362px;
  border-radius: 30px;
  background: #F5F5F5;
  margin-left: 18px;
  position: relative;
}
.whyBudss .box .whyBuds__down .card4 .card-text4 {
  margin-top: 40px;
  margin-left: 40px;
}
.whyBudss .box .whyBuds__down .card4 .card-text4 .card__title4 {
  color: black;
  font-family: Outfit;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
  width: 395px;
  height: 120px;
}
.whyBudss .box .whyBuds__down .card4 .card-text4 .card__lead4 {
  width: 402px;
  height: 96px;
  color: black;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 20px;
}
.whyBudss .box .whyBuds__down .card4 .card4__img {
  top: 61px;
  left: 480px;
  position: absolute;
}

.businessGrow {
  max-width: 1440px;
  width: 100%;
  height: 1017px;
  color: white;
}
.businessGrow .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.businessGrow .box .businessGrow__top {
  width: 100%;
  height: 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.businessGrow .box .businessGrow__top .box {
  width: 1320px;
  height: 285px;
  border-radius: 60px;
  border: solid 1px #CFCFCF;
}
.businessGrow .box .businessGrow__top .box .businessGrow__subtitle {
  margin-top: 60px;
  color: black;
  font-family: Outfit;
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0px;
  text-align: center;
}
.businessGrow .box .businessGrow__top .box .businessGrow__btn {
  margin-bottom: 60px;
}
.businessGrow .box .businessGrow__middle {
  width: 100%;
  height: 372px;
}
.businessGrow .box .businessGrow__middle .box {
  margin-top: 100px;
  width: 100%;
  height: 272px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 60px;
}
.businessGrow .box .businessGrow__middle .box .businessGrow__img {
  position: absolute;
  top: 45px;
  left: 860px;
}
.businessGrow .box .businessGrow__middle .box .businessGrow__img2 {
  position: absolute;
  top: 137px;
  left: 980px;
}
.businessGrow .box .businessGrow__middle .box .businessGrow__img3 {
  top: 45px;
  left: 1120px;
  position: absolute;
}
.businessGrow .box .businessGrow__middle .box .businessGrow__img4 {
  top: 137px;
  left: 1250px;
  position: absolute;
}
.businessGrow .box .businessGrow__middle .box .businessGrow__text {
  width: 922px;
  height: 272px;
}
.businessGrow .box .businessGrow__middle .box .businessGrow__text .businessGrow__title {
  color: black;
  font-family: Outfit;
  font-size: 94px;
  font-weight: 700;
  line-height: 102px;
  letter-spacing: 0px;
  text-align: left;
}
.businessGrow .box .businessGrow__middle .box .businessGrow__text .businessGrow__lead {
  color: black;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  width: 537px;
  height: 48px;
  margin-top: 20px;
}
.businessGrow .box .businessGrow__down {
  height: 260px;
  width: 100%;
}
.businessGrow .box .businessGrow__down .box {
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.businessGrow .box .businessGrow__down .box .businessGrow__down-img {
  margin-left: 51px;
}
.businessGrow .box .businessGrow__down .box .businessGrow__down-img5 {
  margin-right: 51px;
}

.footer {
  width: 100%;
  height: 188px;
  overflow: hidden;
}
.footer .box {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #181818;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .box .footer__top {
  width: 1320px;
  height: 127px;
}
.footer .box .footer__top .wrap {
  height: 57px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .box .footer__top .wrap .footer__top-left {
  max-width: 688px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .box .footer__top .wrap .footer__top-left .footer__logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/logo.png");
  width: 155px;
  height: 49px;
}
.footer .box .footer__top .wrap .footer__top-left .fotter_wrapper-links {
  width: 291px;
  height: 25px;
  margin-right: 126px;
}
.footer .box .footer__top .wrap .footer__top-left .fotter_wrapper-links .footer__link-top {
  color: white;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.footer .box .footer__top .wrap .footer__top-left .fotter_wrapper-links .footer__link-top2 {
  color: white;
  font-family: Outfit;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  margin-left: 40px;
}
.footer .box .footer__top .wrap .footer__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.footer .box .footer__top .wrap .footer__top-right .fotter__btn-app {
  cursor: pointer;
}
.footer .box .footer__top .wrap .footer__top-right .fotter__btn-google {
  cursor: pointer;
}
.footer .box .footer__down {
  width: 1320px;
  height: 61px;
  border-top: 1px solid #444444;
}
.footer .box .footer__down .container {
  margin-top: 20px;
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .box .footer__down .container .footer__Copyright {
  color: #B9B9B9;
  font-family: Outfit;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.footer .box .footer__down .container .footer-nav {
  width: 471px;
  height: 20px;
}
.footer .box .footer__down .container .footer-nav .footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.footer .box .footer__down .container .footer-nav .footer-nav__list .footer-nav__links {
  list-style-type: none;
}
.footer .box .footer__down .container .footer-nav .footer-nav__list .footer-nav__links .footer-nav__link {
  font-family: Outfit;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: right;
  color: #B9B9B9;
  text-decoration: none;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  background-color: #954CED;
  width: 187px;
  height: 57px;
  padding: 16px 30px 16px 30px;
  border-radius: 16px;
  gap: 14px;
  color: #FFFFFF;
  font-family: "Outfit";
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  cursor: pointer;
  border: none;
}

body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  z-index: -1;
  background-color: black;
}

.title {
  font-family: Outfit;
  font-size: 96px;
  font-weight: 700;
  line-height: 102px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}

@media (max-width: 376px) {
  .wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    z-index: -1;
  }
  .title {
    font-size: 40px;
    line-height: 42px;
  }
}