.about {
	background: #000;
	height: 1116px;

	.box {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.about-left {

		max-width: 528px;
		width: 100%;
		height: 873px;

		.box-left {
			margin-top: 100px;

			.about__title {
				width: 559px;
				height: 102px;

				margin-left: 60px;
			}

			.about__subtitle {
				//styleName: Subtitle/S1_SemiBold_36;
				font-family: Outfit;
				font-size: 36px;
				font-weight: 600;
				line-height: 45px;
				letter-spacing: 0px;
				text-align: left;
				color: #FFFF;
				width: 397px;
				height: 135px;
				margin-top: 80px;
				margin-left: 60px;

				.about__img-vector {
					background-image: url('../img/vector.png');
					width: 395px;
					height: 45px;
					background-repeat: no-repeat;
					background-size: contain;

				}
			}

			.about__img {
				margin-top: 208px;
				width: 423px;
				height: 489px;
			}
		}

	}

	.about-right {

		max-width: 692px;
		width: 100%;
		height: 771px;
		margin-right: 160px;

		.box {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-top: 215px;

			.card2 {
				width: 301px;
				height: 340px;


			}

			.card3 {
				width: 306px;
				height: 349px;
				margin-top: 92px;

			}

			.card4 {
				width: 336.01px;
				height: 377px;
				margin-top: 92px;
			}

			.card {
				width: 321px;
				height: 298px;



			}
		}
	}
}

.card-box {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;

	.card__title {
		color: #FFFFFF;
		font-family: Outfit;
		font-size: 48px;
		font-weight: 700;
		line-height: 51px;
		letter-spacing: 0px;
		text-align: left;
		margin-top: 10px;
	}

	.card__subtitle {
		margin-top: 20px;
		font-family: Outfit;
		font-size: 24px;
		font-weight: 400;
		line-height: 29px;
		letter-spacing: 0px;
		text-align: left;
		color: #FFFFFF;
	}
}