@import 'variables';

.cookies {
	position: absolute;
	top: 470px;
	left: 90px;
	width: 1285px;
	height: 117px;
	background-color: $color-w;

	border-radius: 16px;
	animation-duration: 3s;
	animation-name: slidein;

	.box {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;


		.cookies__btn-close {
			position: absolute;
			top: 16px;
			right: 16px;
			background-size: cover;
			background-repeat: no-repeat;
			background-image: url('../img/icon-button-close.png');
			width: 26px;
			height: 26px;
			cursor: pointer;

		}

		.cookies__lead {
			width: 783px;
			height: 56px;

			font-family: Outfit;
			font-size: 20px;
			font-weight: 300;
			line-height: 28px;
			letter-spacing: 0px;
			text-align: left;
			margin-left: 30px;

		}

		.cookies-btns {
			width: 272px;
			height: 57px;
			margin-right: 60px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.cookies__btn-accept {

				width: 124px;
				height: 57px;
				padding: 16px 30px 16px 30px;
				border-radius: 16px;
				background: $color-f;
				border: none;
				cursor: pointer;

				font-family: Outfit;
				font-size: 20px;
				font-weight: 600;
				line-height: 25px;
				letter-spacing: 0px;

				color: white;

			}

			.cookies__btn-decline {
				width: 128px;
				height: 57px;
				padding: 16px 30px 16px 30px;
				border-radius: 16px;
				border: 2px solid $color-f;
				cursor: pointer;
				font-family: Outfit;
				font-size: 20px;
				font-weight: 600;
				line-height: 25px;
				letter-spacing: 0px;
				text-align: left;

				color: $color-b;


			}
		}
	}
}

@keyframes slidein {
	from {
		margin-top: 15%;
	}

	to {
		margin-top: 0%;
	}
}

@keyframes slideinPhone {
	from {
		margin-top: 80%;
	}

	to {
		margin-top: 0%;
	}
}

@media(max-width:376px) {
	.cookies {
		position: absolute;
		top: 290px;
		left: 20px;
		width: 335px;
		height: 402px;
		border-radius: 16px;
		animation-name: slideinPhone;

		.box {
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;

			// margin-top: 30px;
			// left: 20px;
			padding: 30px 20px 30px 20px;

			.cookies__btn-close {
				position: absolute;
				top: 16px;
				right: 16px;
				background-size: cover;
				background-repeat: no-repeat;
				background-image: url('../img/icon-button-close.png');
				width: 26px;
				height: 26px;
				cursor: pointer;

			}

			.cookies__lead {
				width: 295px;
				height: 168px;

				margin: 0;

				font-family: Outfit;
				font-size: 20px;
				font-weight: 300;
				line-height: 28px;
				letter-spacing: 0px;
				text-align: left;

			}

			.cookies-btns {
				width: 295px;
				height: 134px;


				margin: 0px;
				flex-direction: column;


				.cookies__btn-accept {

					width: 295px;
					height: 57px;
					padding: 16px 30px 16px 30px;
					border-radius: 16px
				}

				.cookies__btn-decline {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 295px;
					height: 57px;
					padding: 16px 30px 16px 30px;
					border-radius: 16px
				}
			}
		}
	}
}