@import 'variables';

.footer {
	width: 100%;
	height: 188px;
	position: relative;
	z-index: -1000;
	overflow: hidden;


	.box {
		margin: 0 auto;
		max-width: 1440px;
		background-color: $color-b2;
		height: 100%;

		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;

		.footer__top {
			width: 1320px;
			height: 127px;


			.wrap {
				height: 57px;

				margin-top: 40px;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.footer__top-left {
					max-width: 688px;
					height: 100%;
					width: 100%;

					display: flex;
					justify-content: space-between;
					align-items: center;

					.footer__logo {
						background-size: contain;
						background-repeat: no-repeat;
						background-image: url('../img/logo.png');
						width: 155px;
						height: 49px;

					}

					.fotter_wrapper-links {
						width: 291px;
						height: 25px;

						margin-right: 126px;


						.footer__link-top {
							color: $color-wg;
							font-family: Outfit;
							font-size: 20px;
							font-weight: 500;
							line-height: 25px;
							letter-spacing: 0px;
							text-align: center;
							text-decoration: none;
							cursor: pointer;

						}

						.footer__link-top2 {
							color: $color-wg;
							font-family: Outfit;
							font-size: 20px;
							font-weight: 500;
							line-height: 25px;
							letter-spacing: 0px;
							text-align: center;
							text-decoration: none;
							margin-left: 40px;
						}
					}
				}

				.footer__top-right {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;

					.fotter__btn-app {
						cursor: pointer;

					}

					.fotter__btn-google {
						cursor: pointer;
					}
				}
			}

		}

		.footer__down {
			width: 1320px;
			height: 61px;
			border-top: 1px solid $color-bor;

			.container {
				margin-top: 20px;
				width: 100%;
				height: 20px;

				display: flex;
				justify-content: space-between;
				align-items: center;

				.footer__Copyright {
					color: $color-copy;
					font-family: Outfit;
					font-size: 14px;
					font-weight: 300;
					line-height: 20px;
					letter-spacing: 0px;
					text-align: left;

				}

				.footer-nav {

					width: 471px;
					height: 20px;


					.footer-nav__list {
						display: flex;
						justify-content: space-between;
						align-items: center;
						width: 100%;
						height: 100%;

						.footer-nav__links {
							list-style-type: none;

							.footer-nav__link {
								font-family: Outfit;
								font-size: 14px;
								font-weight: 300;
								line-height: 20px;
								letter-spacing: 0px;
								text-align: right;
								color: $color-copy;
								text-decoration: none;
							}

							.footer-nav__link2 {
								font-family: Outfit;
								font-size: 14px;
								font-weight: 300;
								line-height: 20px;
								letter-spacing: 0px;
								text-align: right;
								color: $color-copy;
								text-decoration: none;
							}

							.footer-nav__link3 {
								font-family: Outfit;
								font-size: 14px;
								font-weight: 300;
								line-height: 20px;
								letter-spacing: 0px;
								text-align: right;
								color: $color-copy;
								text-decoration: none;
							}
						}
					}




				}
			}

		}
	}

}

@media(max-width:376px) {
	.footer {
		width: 375px;
		height: 650px;

		position: relative;

		.box {
			.footer__top {
				display: block;

				.wrap {
					display: block;

					.footer__top-left {
						width: 343px;
						display: block;

						.fotter_wrapper-links {
							display: block;

							.footer__link-top {
								position: absolute;
								top: 99px;
								left: 16px;
							}

							.footer__link-top2 {
								position: absolute;
								top: 140px;
								left: 16px;
								margin: 0;
							}
						}



						.footer__logo {
							top: 20px;
							left: 16px;
							position: absolute;
						}
					}

					.footer__top-right {
						display: block;

						.footer__top-right__btn {
							margin: 0px;
							position: absolute;
							top: 328px;
							left: 16px
						}

						.fotter__btn-app {
							position: absolute;
							top: 425px;
							left: 16px;
						}

						.fotter__btn-google {
							position: absolute;
							top: 502px;
							left: 16px;
						}
					}


				}
			}

			.footer__down {
				display: block;

				.container {
					display: block;

					.footer__Copyright {
						position: absolute;
						top: 609px;
						left: 16px;
						margin: 0;
					}

					.footer-nav {
						display: block;

						.footer-nav__list {
							display: block;

							.footer-nav__links {
								.footer-nav__link {
									position: absolute;
									top: 181px;
									left: 16px;
									//styleName: Subtitle/S5_Medium_20;
									font-family: Outfit;
									font-size: 20px;
									font-weight: 500;
									line-height: 25px;
									letter-spacing: 0px;
									text-align: center;
									color: $color-w;

								}
							}

							.footer-nav__links {
								.footer-nav__link2 {
									position: absolute;
									top: 222px;
									left: 16px;
									font-family: Outfit;
									font-size: 20px;
									font-weight: 500;
									line-height: 25px;
									letter-spacing: 0px;
									text-align: center;
									color: $color-w;
								}
							}

							.footer-nav__links {
								.footer-nav__link3 {
									position: absolute;
									left: 16px;
									top: 263px;
									font-family: Outfit;
									font-size: 20px;
									font-weight: 500;
									line-height: 25px;
									letter-spacing: 0px;
									text-align: center;
									color: $color-w;
								}
							}
						}
					}
				}
			}
		}
	}
}