@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
@import 'header';
@import 'hero';
@import 'about';
@import 'howWorks';
@import 'billboard';
@import 'whyBudss';
@import 'businessGrow';
@import 'footer';
@import 'form';
@import 'cookies';
@import 'variables';

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}



.btn {
	background-color: $color-f;
	width: 187px;
	height: 57px;
	padding: 16px 30px 16px 30px;
	border-radius: 16px;
	gap: 14px;
	color: $color-w;
	font-family: 'Outfit';
	font-size: 20px;
	font-weight: 600;
	line-height: 25px;
	letter-spacing: 0px;
	cursor: pointer;
	border: none;
}

body {
	overflow-x: hidden;
	position: relative;
	z-index: -1;
	max-width: 1440px;
	margin: 0 auto;
}

.wrapper {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	z-index: -7;
	position: relative;
}

.title {

	font-family: Outfit;
	font-size: 96px;
	font-weight: 700;
	line-height: 102px;
	letter-spacing: 0px;
	text-align: left;
	color: $color-w;

}


@media(max-width:376px) {
	.wrapper {
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
		z-index: -1;
	}

	.title {
		font-size: 40px;
		line-height: 42px;
	}
}