$color-w: #FFFFFF;
$color-wg: #FFFF;
$color-g: #2FDBBC;
$color-f: #954CED;
$color-b: black;
$color-bor: #444444;
$color-input: #BFBFBF;
$color-gold: #FFAA4C;
$color-border: #CFCFCF;
$color-b2: #181818;
$color-copy: #B9B9B9;
$color-star: #FF6C2D;
$color-red: red;
$color-wgw: #F5F5F5;